.container {
  width: 100%;
  height: 300px;
}

.legend {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  display: inline-block;
  flex-shrink: 0;
}

.legendText {
  color: #707070;
  font-size: 14px;
}
