@import "tailwindcss";

:root {
  --background: #F2F3FF;
  --foreground: black;
  --bluesportsee: #0B23F4;
  --blueclairsportsee: #B6BDFC;
  --grissportsee: #707070;
  --rougesportsee: #F4320B;
  --rougeclairsportsee: #FCC1B6;
  --grisclairsportsee: #F2F3FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-weight: 400;
}

