.imgContainer {
    width: 104px;
    height: 117px;
    overflow: hidden;
    border-radius: 10px;
}

.imgContainer img {
    transition: transform 0.5s ease;
}

.imgContainer:hover img {
    transform: scale(1.6);
    transition: transform 0.5s ease;
}
